footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #504f4f;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #000;
  }
  
  .social-icons a:hover {
    color: #504f4f;
  }